[Bb]in/
[Oo]bj/
*.userprefs
test-results/
TestResults/
*.sdf
*.suo
*.user
Debug/
Release/
ipch/
.vs/
/build/android/libs
/build/ios/build
/build/ios/*.a
/build/linux/*.so
/build/macos/*.dylib
/build/windows/*.dll